.content {
    p {
        max-width: $screen-sm;
        margin: 0 auto;
        padding: 30px;
    }
}

.action {
    position: absolute;
    display: flex;
    top: 0; right: 0;
    width: 100%; height: 100vh;
    &-item {
        width: 50%; height: 100vh;
    }
    #left {
        cursor: url('../img/leftArrow.png'), auto;
    }
    #right {
        cursor: url('../img/rightArrow.png'), auto;
    }
}

.title {
    position: absolute;
    width: 100%;
    top: 20vh; right:0;
    overflow: hidden;
    pointer-events: none;
    h1 {
        white-space: nowrap;
        opacity: 0.85;
        line-height: 60vh;
        animation: marquee 10s linear infinite; 
    }
    z-index: 10;
}

@keyframes marquee {
    0%   { transform: translate(0%, 0); }
    100% { transform: translate(-151vw, 0); }
}

.gallery {
    max-width: $screen-lg;
    margin: 20vh auto 0 auto;
    padding: 0 5vh;
    pointer-events: none;
    &-img {
        width: 100%; height: 60vh;
        background-size: cover;
        background-position: center center;
        background-repeat:no-repeat;
        &:nth-child(1) {
            background-image: url('../img/gallery1.jpg');
        }
        &:nth-child(2) {
            background-image: url('../img/gallery2.jpg');
        }
        &:nth-child(3) {
            background-image: url('../img/gallery3.jpg');
        }
        &:nth-child(4) {
            background-image: url('../img/gallery4.jpg');
        }
        &:nth-child(5) {
            background-image: url('../img/gallery5.jpg');
        }
        &:nth-child(6) {
            background-image: url('../img/gallery6.jpg');
        }
        &:nth-child(7) {
            background-image: url('../img/gallery7.jpg');
        }
        
    }
}

// FOOTER

.footer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    padding: 0 0 5vw 0;
    pointer-events: none;
    &-cta-wrap {
        display: flex;
        justify-content: center;
    }
    &-cta {
        border: 4px solid #2b2b2b;
        pointer-events: all;
        a {
            padding: 20px 40px;
            text-transform: uppercase;
            text-decoration: none;
            color: #2b2b2b;
            line-height: 3em;
            font-weight: $heavyWeight;
            letter-spacing: 0.15em;
        }
        transition: all 400ms 100ms ease;
        &:hover {
            background-color: #2b2b2b;
            a {
                color: #fff;
            }
        }
    }
}






